<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${users}">
    <label for="name">Введите имя:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br>
    <br>
    <label for="lastname">Введите фамилию:</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br>
    <br>
    <label for="age">Введите возраст:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <label for="role">Введите роль:</label>
    <input type="text" th:field="*{role}" id="role"/>
    <br>
    <br>
    <label for="password">Введите пароль:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>


    <input type="submit" value="Сохранить"/>
</form>
<br>
<form  th:action="@{/admin}">
    <button type="submit">Назад</button>
</form>
<br>
<form action="/logout" >
    <button>ВЫйти</button>
</form>


</body>
</html>